{% extends "base.html" %}

{% block content %}
    <img src="{{ user.avatar(128) }}" alt="{{ user.username }}-avatar">
    <h1>User: {{ user.username }}</h1>
    <hr>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Short URL</th>
                <th>Original URL</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <td>http://127.0.0.1:5000/{{ url.short_url }}</td>
                    <td>{{ url.original_url }}</td>
                    <td>{{ url.clicks }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}