{% extends "base.html" %}

{% block content %}
    <img src="{{ user.avatar(128) }}" alt="{{ user.username }}-avatar">
    <h1>User: {{ user.username }}</h1>
    <hr>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Short URL</th>
                <th>Original URL</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <td>
                        <a href="{{ request.host_url }}{{ url.short_url }}" target="_blank">
                            {{ request.host_url }}{{ url.short_url }}
                        </a> <a href="update-url/{{ url.short_url }}" class="btn btn-warning"> <i class="bi bi-pencil-square"></i> </a>
                    </td>
                    <td>{{ url.original_url }}</td>
                    <td>{{ url.clicks }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}